* {
  font-family: Open Sans, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.newsletter {
  display: flex;
  flex-direction: column;
  color: var(--Colors-text-text-light, #fafafa);
  padding: var(--Numbers-Space-Space-8, 10px)
    var(--Numbers-Space-Space-9, 150px);
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-radius: var(--Numbers-Width-Size-0, 0px);
  background: var(--gradient, linear-gradient(90deg, #D07308 16.81%, #008000 80.55%));
}
.title {
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-top: 0px;
  width: 370px;
  height: 49px;
  color: #fafafa;
}

.title-body {
  font-family: "Open Sans";
  font-size: 17px;
  font-style: normal;
  font-weight: 800px;
  line-height: normal;
  margin-top: 10px;
  color: #fafafa;
  margin-bottom: 10px;
}

.subscription {
  display: flex;
  padding: var(--Numbers-Space-Space-0, 0px);
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: var(--Numbers-Space-Space-4, 24px);
}

.subscription input {
  display: flex;
  width: 500px;
  height: 55px;
  padding: 20px 16px;
  align-items: center;
  gap: 10px;
}

.sub-btn {
  display: flex;
  width: 268px;
  height: 39px;
  color: #008000;
  padding: var(--Numbers-Space-Space-2, 8px) 150px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: var(--Numbers-Width-Size-2, 8px);
  background: var(--Colors-bg-bg-light, #fafafa);
  box-shadow: 0px 1px 50px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin-top: 20px;
}
.sub-btn:hover {
  background-color: #c3f4a0;
  font-weight: 700;
}

/*Footer...*/
.footer {
  display: flex;
  width: 100%;
  padding: var(--Numbers-Space-Space-8, 100px);
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  background-color: var(--Colors-bg-bg-dark, #101010);
  color: #fafafa;
}
li:hover {
  color: #008000;
}

.footer__logo-card {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 50px;
}

.col--1 {
  width: 294px;
  height: 49px;
  display: flex;
  padding: var(--Numbers-Space-Space-0, 0px);
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--Numbers-Space-Space-3, 16px);
}

.col--2 {
  width: 147px;
  height: 181px;
  display: flex;
  padding: var(--Numbers-Space-Space-0, 0px);
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--Numbers-Space-Space-3, 16px);
}

.col--2 a {
  text-decoration: none;
  color: #fafafa;
}

.col--3 {
  width: 176px;
  height: 181px;
  display: flex;
  padding: var(--Numbers-Space-Space-0, 0px);
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--Numbers-Space-Space-3, 16px);
}

.col--3 a {
  text-decoration: none;
  color: #fafafa;
}

.col--4 {
  width: 312px;
  height: 172px;
  display: flex;
  padding: var(--Numbers-Space-Space-0, 0px);
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--Numbers-Space-Space-3, 16px);
}

.images-col-4 {
  display: flex;
  padding: var(--Numbers-Space-Space-0, 0px);
  align-items: flex-start;
  gap: var(--Numbers-Space-Space-6, 40px);
}

.images-col-4 img {
  width: 25px;
  height: 25px;
  border-radius: var(--Numbers-Width-Size-0, 0px);
}

.title {
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  color: #fafafa;
}

.subtitle-bold {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #fafafa;
}

.subtitle {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #fafafa;
  text-align: left;
}

.subtitle-list {
  width: 119px;
  height: 132px;
  color: #101010;
  color: #fafafa;
}

@media only screen and (max-width: 768px) {
  .newsletter {
    display: flex;
    padding: var(--Numbers-Space-Space-8, 100px)
    var(--Numbers-Space-Space-2, 8px);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--Numbers-Space-Space-4, 24px);
    align-self: stretch;
    width: 100%;
  }
  .subscription {
    display: flex;
    padding: var(--Numbers-Space-Space-0, 0px);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--Numbers-Space-Space-4, 24px);
    align-self: stretch;
    width: 60%;
    margin-left: 100px;
  }
  .footer {
    display: flex;
    padding: var(--Numbers-Space-Space-8, 100px)
      var(--Numbers-Space-Space-6, 40px);
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: var(--Numbers-Space-Space-4, 24px);
    align-self: stretch;
  }
  .col--1 {
    margin-bottom: 30px;
  }
  .subscription input {
    width: 400px;
  } 
}
.newsletter--p1 {
  font-size: 40px;
  color: #fafafa;
  font-weight: 900;
}
.newsletter--p2 {
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 20px;
}
.newsletter--p3 {
  color: #fafafa;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  font-family: 'Times New Roman', Times, serif;
}
.newsletter--p4, .newsletter--p5 {
  font-size: 30px;
  font-weight: 800;
}
#house {
 width: 100px;
 height: 55px;
 font-size: 20px;
 border-radius: 10px;
}