.header--nav--home, 
.header--nav--about, 
.header--nav--blog, 
.header--nav--career,
.header--nav--user--signup {
    font-family: "Open Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.main--hero--container--edge--home {
    color:  #FAFAFA;
    /* HEADING */
    font-family: "Open Sans Hebrew";
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 10px;

}
.main--hero--container--edge--look {
    color:  #FAFAFA;
    /* SUBTITLE BOLD */
    font-family: "Open Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
h5 {
    color: var(--Colors-text-text-accent, #008000);
    text-align: center;
    /* SUBTITLE BOLD */
    font-family: "Open Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
p {
    color: #101010;
    text-align: center;
    /* BODY */
    font-family: "Open Sans";
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.main--container--knowus--words--p0 {
    color: #FAFAFA;
    /* TITLE */
    font-family: "Open Sans";
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: left;
}
.main--container--knowus--words--p1, .main--container--knowus--words--p2 {
    color:#101010;
    /* BODY BOLD */
    font-family: "Open Sans";
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: left;
}
#budget, #location, #prototype {
    color: var(--Colors-text-text-dark, #101010);
/* BODY */
    font-family: "Open Sans";
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.mybutton {
    color: var(--Colors-text-text-light, #FAFAFA);
    
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.property--container--heading p {
    color: #008000;
    font-family: "Open Sans";
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.property--container--images--1--heading,
.property--container--images--2--heading {
    color: #008000;
    font-family: "Open Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.property--container--images--1--money,
.property--container--images--2--money {
    color:#101010;
    font-family: "Open Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.property--container--images--1--location,
.property--container--images--2--location {
    color: #808080;
    font-family: "Open Sans";
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
