@import "../abstracts/mixins";

.forget--body {
    background-color: #BCBCBC;
}
.forget--main {
    width: 567px;
    height: 481px;
    padding: 50px, 36px, 50px, 36px;
    border-radius: 8px;
    border: 1px solid #808080;
    gap: 36px;
    background: #FAFAFA;
    margin-top: 200px;
    margin-left: 380px;
    @media (max-width: 480px) and (min-width: 768px) {
        margin: 50px 20px 0px 100px;
        width: 100px;
        height: 100px;
        background-color: red;

    }
    &--heading {
        margin-top: 20px;
        padding: 30px;
        &--2 {
            margin-top: 10px;
        }
    }
    &--form {
        margin-left: 30px;
        gap: 10px;
        &--btn {
            width: 495px;
            height: 45px;
            padding: 15px;
            margin-top: 20px;
            background: linear-gradient(to bottom, #008000 0%, #052F05 100%);
            box-shadow: 0px 1px 50px 0px #0000001A;
        }
    }
    &--footer {
        margin-top: 40px;

    }

}
#username_e  {
    margin-bottom: 10px;
}
#username_or_email {
    width: 495px;
    height: 55px;
    padding: 20px;
    border-radius: 4px;
    border: 1px solid #808080;
    gap: 10px;
    
}
