.main--hero {
    width: 100%;
    height: 100vh; /* Set a height for the container, adjust as needed */
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    image-rendering: crisp-edges;

    &--container {
        display: flex;
        padding: 36px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 70%;
        gap:  36px;
        border-radius: 8px;
        background: rgba(188, 188, 188, 0.20);
        /* glassmorphism */
        backdrop-filter: blur(7.5px);
        &--edge {
            display: flex;
            padding: 0px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
        }
        &--form {
            display: flex;
            padding: 0px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            & form {
                display: flex;
                padding: 0px;
                justify-content: center;
                align-items: center;
                gap: 10px;
                position: relative;
            }
    
        }

    }
}
#budget, #location, #prototype {
    width: 265px;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    border: 1px solid #808080;
    background: #FAFAFA;
    height: 45px;
    padding: 20px;

}

.image--1 {
    position: absolute;
    left: 530px;
    top: 185px;
    width: 25px;
    height: 14px;
    flex-shrink: 0;
}
.image--2 {
    position: absolute;
    left: 799px;
    top: 185px;
    width: 25px;
    height: 14px;
    flex-shrink: 0;

}
.mybutton {
    display: flex;
    height: 50px;
    padding: var(--Numbers-Space-Space-2, 8px) 150px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-items: center;
    justify-content: center;   
    border-radius: 8px;
    background: linear-gradient(90deg, #D07308 16.81%, #008000 80.55%);
    /* shadow */
    box-shadow: 0px 1px 50px 0px rgba(0, 0, 0, 0.10);
    margin: 6px 0px 0px 220px;

}
