.main--container--knowus {
    display: flex;
    padding: var(--Numbers-Space-Space-8, 100px) var(--Numbers-Space-Space-7, 50px);
    flex-direction: row;
    gap: 10px;
    align-self: stretch;
    height: 490px;
    background: linear-gradient(90deg, #D07308 16.81%, #008000 80.55%);
    &--words {
        width: 600px;
        &--p2 {
            margin-top: 20px;
        }
    }
    &--image {
        width: 50%;
        & img {
            width: 625px;
            position: absolute;
            right: 10px;
            height: 500px;
            top: 1470px;
        }
    }

}
